### Matrix Factorization

Data Sources:
* https://grouplens.org/datasets/movielens/100k/
* https://www.analyticsvidhya.com/blog/2018/06/comprehensive-guide-recommendation-engine-python/

In [1]:
import pandas as pd
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
# pass in column names for each CSV as the column name is not given in the file and read them using pandas.
# You can check the column names from the readme file

#Reading users file:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('data/ml-100k/u.user', sep='|', names=u_cols,encoding='latin-1')

#Reading ratings file:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('data/ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')

#Reading items file:
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('data/ml-100k/u.item', sep='|', names=i_cols,
encoding='latin-1')

### Users

In [3]:
print(users.shape)
users['user_id'].max()

(943, 5)

943

### Ratings

In [4]:
print(ratings.shape)
ratings.head()

(100000, 4)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

### Items

In [5]:
print(items.shape)
items.head()

(1682, 24)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

### Loading in train and test provided by GroupLens where the test data has 10 ratings for each user

In [6]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_train = pd.read_csv('data/ml-100k/ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('data/ml-100k/ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_train.shape, ratings_test.shape

((90570, 4), (9430, 4))

### Building collaborative filtering model from scratch

We will recommend movies based on user-user similarity and item-item similarity. For that, first we need to calculate the number of unique users and movies

In [7]:
n_users = ratings.user_id.unique().shape[0]
n_items = ratings.movie_id.unique().shape[0]

In [33]:
n_users

943

In [34]:
n_items

1682

Now, we will create a user-item matrix which can be used to calculate the similarity between users and items

In [8]:
data_matrix = np.zeros((n_users, n_items))
for line in ratings.itertuples():
    data_matrix[line[1]-1, line[2]-1] = line[3]

Now, we will calculate the similarity. We can use the pairwise_distance function from sklearn to calculate the cosine similarity.

In [9]:
from sklearn.metrics.pairwise import pairwise_distances 
user_similarity = pairwise_distances(data_matrix, metric='cosine')
item_similarity = pairwise_distances(data_matrix.T, metric='cosine')

This gives us the item-item and user-user similarity in an array form. The next step is to make predictions based on these similarities. Let’s define a function to do just that.

In [10]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        #We use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

Finally, we will make predictions based on user similarity and item similarity

In [11]:
user_prediction = predict(data_matrix, user_similarity, type='user')
item_prediction = predict(data_matrix, item_similarity, type='item')

### Building a recommendation engine using matrix factorization

Let us define a function to predict the ratings given by the user to all the movies which are not rated by him/her

In [24]:
class MF():

    # Initializing the user-movie rating matrix, no. of latent features, alpha and beta.
    def __init__(self, R, K, alpha, beta, iterations):
        self.R = R
        self.num_users, self.num_items = R.shape
        self.K = K
        self.alpha = alpha
        self.beta = beta
        self.iterations = iterations

    # Initializing user-feature and movie-feature matrix 
    def train(self):
        self.P = np.random.normal(scale=1./self.K, size=(self.num_users, self.K))
        self.Q = np.random.normal(scale=1./self.K, size=(self.num_items, self.K))

        # Initializing the bias terms
        self.b_u = np.zeros(self.num_users)
        self.b_i = np.zeros(self.num_items)
        self.b = np.mean(self.R[np.where(self.R != 0)])

        # List of training samples
        self.samples = [
        (i, j, self.R[i, j])
        for i in range(self.num_users)
        for j in range(self.num_items)
        if self.R[i, j] > 0
        ]

        # Stochastic gradient descent for given number of iterations
        training_process = []
        for i in range(self.iterations):
            np.random.shuffle(self.samples)
            self.sgd()
            mse = self.mse()
            training_process.append((i, mse))
            if (i+1) % 20 == 0:
                print("Iteration: %d ; error = %.4f" % (i+1, mse))

        return training_process

    # Computing total mean squared error
    def mse(self):
        xs, ys = self.R.nonzero()
        predicted = self.full_matrix()
        error = 0
        for x, y in zip(xs, ys):
            error += pow(self.R[x, y] - predicted[x, y], 2)
        return np.sqrt(error)

    # Stochastic gradient descent to get optimized P and Q matrix
    def sgd(self):
        for i, j, r in self.samples:
            prediction = self.get_rating(i, j)
            e = (r - prediction)

            self.b_u[i] += self.alpha * (e - self.beta * self.b_u[i])
            self.b_i[j] += self.alpha * (e - self.beta * self.b_i[j])

            self.P[i, :] += self.alpha * (e * self.Q[j, :] - self.beta * self.P[i,:])
            self.Q[j, :] += self.alpha * (e * self.P[i, :] - self.beta * self.Q[j,:])

    # Ratings for user i and movie j
    def get_rating(self, i, j):
        prediction = self.b + self.b_u[i] + self.b_i[j] + self.P[i, :].dot(self.Q[j, :].T)
        return prediction

    # Full user-movie rating matrix
    def full_matrix(self):
        return mf.b + mf.b_u[:,np.newaxis] + mf.b_i[np.newaxis:,] + mf.P.dot(mf.Q.T)

#### Now we have a function that can predict the ratings. The input for this function are:

* R – The user-movie rating matrix
* K – Number of latent features
* alpha – Learning rate for stochastic gradient descent
* beta – Regularization parameter for bias
* iterations – Number of iterations to perform stochastic gradient descent

We have to convert the user item ratings to matrix form. It can be done using the pivot function in python

In [13]:
R= np.array(ratings.pivot(index = 'user_id', columns ='movie_id', values = 'rating').fillna(0))

In [14]:
R

array([[5., 3., 4., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [5., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 5., 0., ..., 0., 0., 0.]])

In [31]:
R.shape

(943, 1682)

fillna(0) will fill all the missing ratings with 0. Now we have the R matrix. We can initialize the number of latent features, but the number of these features must be less than or equal to the number of original features.

Now let us predict all the missing ratings. Let’s take K=20, alpha=0.001, beta=0.01 and iterations=100

In [28]:
mf = MF(R, K=20, alpha=0.001, beta=0.01, iterations=800)
training_process = mf.train()
print()
print("P x Q:")
print(mf.full_matrix())
print()

Iteration: 20 ; error = 296.1505
Iteration: 40 ; error = 291.1568
Iteration: 60 ; error = 288.0406
Iteration: 80 ; error = 283.4226
Iteration: 100 ; error = 274.7223
Iteration: 120 ; error = 263.1511
Iteration: 140 ; error = 251.7139
Iteration: 160 ; error = 241.2544
Iteration: 180 ; error = 232.1993
Iteration: 200 ; error = 224.6548
Iteration: 220 ; error = 218.4539
Iteration: 240 ; error = 213.3374
Iteration: 260 ; error = 209.0679
Iteration: 280 ; error = 205.4604
Iteration: 300 ; error = 202.3752
Iteration: 320 ; error = 199.7094
Iteration: 340 ; error = 197.3854
Iteration: 360 ; error = 195.3440
Iteration: 380 ; error = 193.5372
Iteration: 400 ; error = 191.9289
Iteration: 420 ; error = 190.4879
Iteration: 440 ; error = 189.1915
Iteration: 460 ; error = 188.0180
Iteration: 480 ; error = 186.9514
Iteration: 500 ; error = 185.9788
Iteration: 520 ; error = 185.0873
Iteration: 540 ; error = 184.2676
Iteration: 560 ; error = 183.5125
Iteration: 580 ; error = 182.8127
Iteration: 600 ; error = 182.1643
Iteration: 620 ; error = 181.5595
Iteration: 640 ; error = 180.9959
Iteration: 660 ; error = 180.4692
Iteration: 680 ; error = 179.9740
Iteration: 700 ; error = 179.5090
Iteration: 720 ; error = 179.0714
Iteration: 740 ; error = 178.6585
Iteration: 760 ; error = 178.2677
Iteration: 780 ; error = 177.8972
Iteration: 800 ; error = 177.5460

P x Q:
[[4.39717112 2.97124445 3.34938146 ... 3.05137262 3.57698909 3.40462101]
 [4.3002988  3.44817671 1.34466606 ... 3.36390993 3.59505911 3.31089752]
 [2.4116289  0.88171929 2.5195277  ... 2.39993382 2.66732623 2.61749601]
 ...
 [4.58155804 3.43984902 3.14720149 ... 3.58569605 3.91923345 3.64510295]
 [3.91201849 3.73122169 5.10617287 ... 3.5687643  3.97141261 3.81825753]
 [3.92580592 3.81994217 0.61814885 ... 3.27398516 3.47991052 3.21274917]]

TODO: having done the predicitons for the missing ratings we ought to backfill these values to the ratings dataframe

TODO: We have created our recommendation engine. Next we have to evaluate our recommendation engine

In [35]:
prediction_matrix = mf.full_matrix()

In [142]:
prediction_matrix.shape

(943, 1682)

Create a new dataframe "prediction_df" with the ratings column and add a column for predicted ratings.

In [249]:
prediction_df = ratings
prediction_df["predicted_rating"] = ""
prediction_df.head()

   user_id  movie_id  rating  unix_timestamp predicted_rating       RMSE
0      196       242       3       881250949                     0.17526
1      186       302       3       891717742                    0.698289
2       22       377       1       878887116                  -0.0545789
3      244        51       2       880606923                     1.14431
4      166       346       1       886397596                    0.841421

In [ ]:
for i in range(len(ratings)):
    prediction_df["predicted_rating"][i] = prediction_matrix.item(prediction_df["user_id"][i]-1,prediction_df["movie_id"][i]-1)

/anaconda3/envs/ut-keras/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [54]:
prediction_df.to_csv("predicted_ratings.csv")

In [91]:
np.savetxt("prediction_matrix.txt", prediction_matrix)
np.save('prediction_matrix.npy', prediction_matrix)

In [236]:
prediction_matrix

array([[-0.04913335,  0.16016895,  0.221557  , ...,  5.70141637,
         5.95670483,  6.3668023 ],
       [ 4.3002988 ,  3.44817671,  1.34466606, ...,  3.36390993,
         3.59505911,  3.31089752],
       [ 2.4116289 ,  0.88171929,  2.5195277 , ...,  2.39993382,
         2.66732623,  2.61749601],
       ...,
       [ 4.58155804,  3.43984902,  3.14720149, ...,  3.58569605,
         3.91923345,  3.64510295],
       [ 3.91201849,  3.73122169,  5.10617287, ...,  3.5687643 ,
         3.97141261,  3.81825753],
       [ 3.92580592,  3.81994217,  0.61814885, ...,  3.27398516,
         3.47991052,  3.21274917]])

In [235]:
prediction_matrix[1,]

array([4.3002988 , 3.44817671, 1.34466606, ..., 3.36390993, 3.59505911,
       3.31089752])

Create a function that recommends 5 movies to a user based on how likely they are to enjoy the movie.

In [237]:
def top5rec(userId):
    orderedRecs = list(np.argsort(-prediction_matrix[userId - 1,]))[0:5]
    print(orderedRecs)
    rec_df = pd.DataFrame()
    print("Top 5 movie recommendations:")
    for movie in orderedRecs:
        rec_df = rec_df.append(items.loc[items["movie id"]==movie+1])
    return(rec_df)

In [247]:
top5rec(2)

[510, 427, 631, 11, 47]
Top 5 movie recommendations:

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
510,511,Lawrence of Arabia (1962),01-Jan-1962,NaN,http://us.imdb.com/M/title-exact?Lawrence%20of...,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
427,428,Harold and Maude (1971),01-Jan-1971,NaN,http://us.imdb.com/M/title-exact?Harold%20and%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
631,632,Sophie's Choice (1982),01-Jan-1982,NaN,http://us.imdb.com/M/title-exact?Sophie's%20Ch...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,12,"Usual Suspects, The (1995)",14-Aug-1995,NaN,http://us.imdb.com/M/title-exact?Usual%20Suspe...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
47,48,Hoop Dreams (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Hoop%20Dreams...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0