In [1]:
import pandas as pd
import numpy as np

In [8]:
predicted_df = pd.read_csv("predicted_ratings.csv")

In [11]:
#Reading users file:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('data/ml-100k/u.user', sep='|', names=u_cols,encoding='latin-1')

#Reading ratings file:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('data/ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')

#Reading items file:
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('data/ml-100k/u.item', sep='|', names=i_cols,
encoding='latin-1')

In [9]:
predicted_df = predicted_df.drop("Unnamed: 0", axis=1)

In [34]:
predicted_df.head()

   user_id  movie_id  rating  unix_timestamp  predicted_rating  rating_diff
0      196       242       3       881250949          3.175260     0.175260
1      186       302       3       891717742          3.698289     0.698289
2       22       377       1       878887116          0.945421    -0.054579
3      244        51       2       880606923          3.144307     1.144307
4      166       346       1       886397596          1.841421     0.841421

In [14]:
predicted_df["rating_diff"] = predicted_df["predicted_rating"] - predicted_df["rating"]

In [33]:
predicted_df

,user_id,movie_id,rating,unix_timestamp,predicted_rating,rating_diff
0,196,242,3,881250949,3.175260,0.175260
1,186,302,3,891717742,3.698289,0.698289
2,22,377,1,878887116,0.945421,-0.054579
3,244,51,2,880606923,3.144307,1.144307
4,166,346,1,886397596,1.841421,0.841421
5,298,474,4,884182806,4.040096,0.040096
6,115,265,2,881171488,2.497423,0.497423
7,253,465,5,891628467,4.032190,-0.967810
8,305,451,3,886324817,3.053349,0.053349
9,6,86,3,883603013,3.292125,0.292125
10,62,257,2,879372434,2.984883,0.984883
11,286,1014,5,879781125,4.698464,-0.301536
12,200,222,5,876042340,4.853629,-0.146371
13,210,40,3,891035994,3.029052,0.029052
14,224,29,3,888104457,2.592720,-0.407280
15,303,785,3,879485318,2.366114,-0.633886
16,122,387,5,879270459,4.669331,-0.330669
17,194,274,2,879539794,2.162751,0.162751
18,291,1042,4,874834944,3.833446,-0.166554
19,234,1184,2,892079237,1.546460,-0.453540
20,119,392,4,886176814,3.812513,-0.187487
21,167,486,4,892738452,3.531805,-0.468195
22,299,144,4,877881320,2.975084,-1.024916
23,291,118,2,874833878,2.835915,0.835915
24,308,1,4,887736532,4.278835,0.278835
25,95,546,2,879196566,1.593523,-0.406477
26,38,95,5,892430094,5.381153,0.381153
27,102,768,2,883748450,2.676195,0.676195
28,63,277,4,875747401,3.416195,-0.583805
29,160,234,5,876861185,4.906570,-0.093430
...,...,...,...,...,...,...
99970,449,120,1,879959573,1.295107,0.295107
99971,661,762,2,876037121,2.733413,0.733413
99972,721,874,3,877137447,3.546819,0.546819
99973,821,151,4,874792889,4.444145,0.444145
99974,764,596,3,876243046,3.421602,0.421602
99975,537,443,3,886031752,3.039253,0.039253
99976,618,628,2,891308019,1.784318,-0.215682
99977,487,291,3,883445079,3.331821,0.331821
99978,113,975,5,875936424,4.659847,-0.340153
99979,943,391,2,888640291,2.061874,0.061874
99980,864,685,4,888891900,4.172641,0.172641
99981,750,323,3,879445877,3.167266,0.167266
99982,279,64,1,875308510,3.142074,2.142074
99983,646,750,3,888528902,2.693844,-0.306156
99984,654,370,2,887863914,2.591041,0.591041
99985,617,582,4,883789294,4.911292,0.911292
99986,913,690,3,880824288,2.727135,-0.272865
99987,660,229,2,891406212,2.380187,0.380187
99988,421,498,4,892241344,3.622746,-0.377254
99989,495,1091,4,888637503,3.991039,-0.008961
99990,806,421,4,882388897,3.289605,-0.710395
99991,676,538,4,892685437,3.618617,-0.381383
99992,721,262,3,877137285,3.321566,0.321566
99993,913,209,2,881367150,3.217247,1.217247
99994,378,78,3,880056976,2.887282,-0.112718
99995,880,476,3,880175444,3.437552,0.437552
99996,716,204,5,879795543,4.093484,-0.906516
99997,276,1090,1,874795795,1.749354,0.749354
99998,13,225,2,882399156,2.707992,0.707992
99999,12,203,3,879959583,4.032883,1.032883

In [23]:
predicted_df.loc[predicted_df["user_id"] ==1].reset_index(drop=True)

for i in range(len(users)):
    user_id = users["user_id"][i]
    user_df = predicted_df.loc[predicted_df["user_id"]==user_id].reset_index(drop=True)
    sse = 0 
    for j in user_df["rating_diff"]:
        sse += np.power(j,2)
    mse = sse/len(user_df)
    users["RMSE"][i] = np.sqrt(mse)

/anaconda3/envs/ut-keras/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [25]:
users

     user_id  age sex     occupation zip_code      RMSE
0          1   24   M     technician    85711  0.615904
1          2   53   F          other    94043  0.524222
2          3   23   M         writer    32067  0.468738
3          4   24   M     technician    43537  0.446129
4          5   33   F          other    15213  0.600943
5          6   42   M      executive    98101  0.608724
6          7   57   M  administrator    91344  0.624948
7          8   36   M  administrator    05201  0.601691
8          9   29   M        student    01002  0.311593
9         10   53   M         lawyer    90703  0.449018
10        11   39   F          other    30329  0.637568
11        12   28   F          other    06405  0.470016
12        13   47   M       educator    29206  0.501371
13        14   45   M      scientist    55106  0.512506
14        15   49   F       educator    97301  0.606875
15        16   21   M  entertainment    10309  0.576836
16        17   30   M     programmer    06355  0.325889
17        18   35   F          other    37212  0.585053
18        19   40   M      librarian    02138  0.356436
19        20   42   F      homemaker    95660  0.577548
20        21   26   M         writer    30068  0.512116
21        22   25   M         writer    40206  0.623683
22        23   30   F         artist    48197  0.654138
23        24   21   F         artist    94533  0.505074
24        25   39   M       engineer    55107  0.368895
25        26   49   M       engineer    21044  0.473733
26        27   40   F      librarian    30030  0.501070
27        28   32   M         writer    55369  0.526495
28        29   41   M     programmer    94043  0.327981
29        30    7   M        student    55436  0.503630
..       ...  ...  ..            ...      ...       ...
913      914   44   F          other    08105  0.483067
914      915   50   M  entertainment    60614  0.516720
915      916   27   M       engineer    N2L5N  0.534148
916      917   22   F        student    20006  0.465519
917      918   40   M      scientist    70116  0.578175
918      919   25   M          other    14216  0.617796
919      920   30   F         artist    90008  0.378174
920      921   20   F        student    98801  0.622104
921      922   29   F  administrator    21114  0.619414
922      923   21   M        student    E2E3R  0.386804
923      924   29   M          other    11753  0.452843
924      925   18   F       salesman    49036  0.305932
925      926   49   M  entertainment    01701  0.270474
926      927   23   M     programmer    55428  0.556493
927      928   21   M        student    55408  0.322626
928      929   44   M      scientist    53711  0.534001
929      930   28   F      scientist    07310  0.519196
930      931   60   M       educator    33556  0.477873
931      932   58   M       educator    06437  0.505727
932      933   28   M        student    48105  0.613351
933      934   61   M       engineer    22902  0.633194
934      935   42   M         doctor    66221  0.401629
935      936   24   M          other    32789  0.527071
936      937   48   M       educator    98072  0.555388
937      938   38   F     technician    55038  0.607136
938      939   26   F        student    33319  0.392666
939      940   32   M  administrator    02215  0.634868
940      941   20   M        student    97229  0.473505
941      942   48   F      librarian    78209  0.409790
942      943   22   M        student    77841  0.653059

[943 rows x 6 columns]

In [ ]:
users