In [1]:
# Import libraries
%matplotlib inline
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
ratings = pd.read_csv('ratings.csv')
max_userid = ratings['user_id'].drop_duplicates().max()
max_movieid = ratings['movie_id'].drop_duplicates().max()

In [3]:
users = pd.read_csv('users.csv')
users

     user_id  age sex     occupation zip_code  occ_enc
0          1   24   M     technician    85711       19
1          2   53   F          other    94043       13
2          3   23   M         writer    32067       20
3          4   24   M     technician    43537       19
4          5   33   F          other    15213       13
5          6   42   M      executive    98101        6
6          7   57   M  administrator    91344        0
7          8   36   M  administrator    05201        0
8          9   29   M        student    01002       18
9         10   53   M         lawyer    90703        9
10        11   39   F          other    30329       13
11        12   28   F          other    06405       13
12        13   47   M       educator    29206        3
13        14   45   M      scientist    55106       17
14        15   49   F       educator    97301        3
15        16   21   M  entertainment    10309        5
16        17   30   M     programmer    06355       14
17        18   35   F          other    37212       13
18        19   40   M      librarian    02138       10
19        20   42   F      homemaker    95660        8
20        21   26   M         writer    30068       20
21        22   25   M         writer    40206       20
22        23   30   F         artist    48197        1
23        24   21   F         artist    94533        1
24        25   39   M       engineer    55107        4
25        26   49   M       engineer    21044        4
26        27   40   F      librarian    30030       10
27        28   32   M         writer    55369       20
28        29   41   M     programmer    94043       14
29        30    7   M        student    55436       18
..       ...  ...  ..            ...      ...      ...
913      914   44   F          other    08105       13
914      915   50   M  entertainment    60614        5
915      916   27   M       engineer    N2L5N        4
916      917   22   F        student    20006       18
917      918   40   M      scientist    70116       17
918      919   25   M          other    14216       13
919      920   30   F         artist    90008        1
920      921   20   F        student    98801       18
921      922   29   F  administrator    21114        0
922      923   21   M        student    E2E3R       18
923      924   29   M          other    11753       13
924      925   18   F       salesman    49036       16
925      926   49   M  entertainment    01701        5
926      927   23   M     programmer    55428       14
927      928   21   M        student    55408       18
928      929   44   M      scientist    53711       17
929      930   28   F      scientist    07310       17
930      931   60   M       educator    33556        3
931      932   58   M       educator    06437        3
932      933   28   M        student    48105       18
933      934   61   M       engineer    22902        4
934      935   42   M         doctor    66221        2
935      936   24   M          other    32789       13
936      937   48   M       educator    98072        3
937      938   38   F     technician    55038       19
938      939   26   F        student    33319       18
939      940   32   M  administrator    02215        0
940      941   20   M        student    97229       18
941      942   48   F      librarian    78209       10
942      943   22   M        student    77841       18

[943 rows x 6 columns]

In [4]:
movies = pd.read_csv('movies.csv')
movies

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,Twelve Monkeys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995),0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,9,Dead Man Walking (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Dead%20Man%20...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,Richard III (1995),22-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Richard%20III...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10,11,Seven (Se7en) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Se7en%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,12,"Usual Suspects, The (1995)",14-Aug-1995,NaN,http://us.imdb.com/M/title-exact?Usual%20Suspe...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12,13,Mighty Aphrodite (1995),30-Oct-1995,NaN,http://us.imdb.com/M/title-exact?Mighty%20Aphr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,14,"Postino, Il (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Postino,%20Il...",0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
14,15,Mr. Holland's Opus (1995),29-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Mr.%20Holland...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,16,French Twist (Gazon maudit) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Gazon%20maudi...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
16,17,From Dusk Till Dawn (1996),05-Feb-1996,NaN,http://us.imdb.com/M/title-exact?From%20Dusk%2...,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
17,18,"White Balloon, The (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Badkonake%20S...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,19,Antonia's Line (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Antonia%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,20,Angels and Insects (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Angels%20and%...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
20,21,Muppet Treasure Island (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Muppet%20Trea...,0,1,1,0,0,...,0,0,0,1,0,0,0,1,0,0
21,22,Braveheart (1995),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Braveheart%20...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
22,23,Taxi Driver (1976),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Taxi%20Driver...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
23,24,Rumble in the Bronx (1995),23-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Hong%20Faan%2...,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24,25,"Birdcage, The (1996)",08-Mar-1996,NaN,"http://us.imdb.com/M/title-exact?Birdcage,%20T...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,26,"Brothers McMullen, The (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Brothers%20Mc...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,27,Bad Boys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Bad%20Boys%20...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,28,Apollo 13 (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Apollo%2013%2...,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
28,29,Batman Forever (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Batman%20Fore...,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
29,30,Belle de jour (1967),01-Jan-1967,NaN,http://us.imdb.com/M/title-exact?Belle%20de%20...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1652,1653,Entertaining Angels: The Dorothy Day Story (1996),27-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Entertaining%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1653,1654,Chairman of the Board (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Chairman+of+the+Board...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1654,1655,"Favor, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?Favor,%20The%...",0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1655,1656,Little City (1998),20-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Little+City+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1656,1657,Target (1995),28-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Target%20(1995),0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1657,1658,"Substance of Fire, The (1996)",06-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Substance%20o...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1658,1659,Getting Away With Murder (1996),12-Apr-1996,NaN,http://us.imdb.com/Title?Getting+Away+With+Mur...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1659,1660,Small Faces (1995),09-Aug-1996,NaN,http://us.imdb.com/M/title-exact?Small%20Faces...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1660,1661,"New Age, The (1994)",01-Jan-1994,NaN,"http://us.imdb.com/M/title-exact?New%20Age,%20...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1661,1662,Rough Magic (1995),30-May-1997,NaN,http://us.imdb.com/M/title-exact?Rough%20Magic...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1662,1663,Nothing Personal (1995),30-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Nothing%20Per...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1663,1664,8 Heads in a Duffel Bag (1997),18-Apr-1997,NaN,http://us.imdb.com/Title?8+Heads+in+a+Duffel+B...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1664,1665,"Brother's Kiss, A (1997)",25-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Brother%27s%2...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1665,1666,Ripe (1996),02-May-1997,NaN,http://us.imdb.com/M/title-exact?Ripe%20%28199...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1666,1667,"Next Step, The (1995)",13-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Next%20Step%2...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1667,1668,Wedding Bell Blues (1996),13-Jun-1997,NaN,http://us.imdb.com/M/title-exact?Wedding%20Bel...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1668,1669,MURDER and murder (1996),20-Jun-1997,NaN,http://us.imdb.com/M/title-exact?MURDER+and+mu...,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1669,1670,Tainted (1998),01-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Tainted+(1998),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1670,1671,"Further Gesture, A (1996)",20-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Further+Gestu...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1671,1672,Kika (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Kika%20(1993),0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1672,1673,Mirage (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Mirage%20(1995),0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1673,1674,Mamma Roma (1962),01-Jan-1962,NaN,http://us.imdb.com/M/title-exact?Mamma%20Roma%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1674,1675,"Sunchaser, The (1996)",25-Oct-1996,NaN,"http://us.imdb.com/M/title-exact?Sunchaser,%20...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1675,1676,"War at Home, The (1996)",01-Jan-1996,NaN,http://us.imdb.com/M/title-exact?War%20at%20Ho...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1676,1677,Sweet Nothing (1995),20-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Sweet%20Nothi...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
ratings

       user_id  movie_id  rating  unix_timestamp  user_emb_id  movie_emb_id
0          196       242       3       881250949          195           241
1          186       302       3       891717742          185           301
2           22       377       1       878887116           21           376
3          244        51       2       880606923          243            50
4          166       346       1       886397596          165           345
5          298       474       4       884182806          297           473
6          115       265       2       881171488          114           264
7          253       465       5       891628467          252           464
8          305       451       3       886324817          304           450
9            6        86       3       883603013            5            85
10          62       257       2       879372434           61           256
11         286      1014       5       879781125          285          1013
12         200       222       5       876042340          199           221
13         210        40       3       891035994          209            39
14         224        29       3       888104457          223            28
15         303       785       3       879485318          302           784
16         122       387       5       879270459          121           386
17         194       274       2       879539794          193           273
18         291      1042       4       874834944          290          1041
19         234      1184       2       892079237          233          1183
20         119       392       4       886176814          118           391
21         167       486       4       892738452          166           485
22         299       144       4       877881320          298           143
23         291       118       2       874833878          290           117
24         308         1       4       887736532          307             0
25          95       546       2       879196566           94           545
26          38        95       5       892430094           37            94
27         102       768       2       883748450          101           767
28          63       277       4       875747401           62           276
29         160       234       5       876861185          159           233
...        ...       ...     ...             ...          ...           ...
99970      449       120       1       879959573          448           119
99971      661       762       2       876037121          660           761
99972      721       874       3       877137447          720           873
99973      821       151       4       874792889          820           150
99974      764       596       3       876243046          763           595
99975      537       443       3       886031752          536           442
99976      618       628       2       891308019          617           627
99977      487       291       3       883445079          486           290
99978      113       975       5       875936424          112           974
99979      943       391       2       888640291          942           390
99980      864       685       4       888891900          863           684
99981      750       323       3       879445877          749           322
99982      279        64       1       875308510          278            63
99983      646       750       3       888528902          645           749
99984      654       370       2       887863914          653           369
99985      617       582       4       883789294          616           581
99986      913       690       3       880824288          912           689
99987      660       229       2       891406212          659           228
99988      421       498       4       892241344          420           497
99989      495      1091       4       888637503          494          1090
99990      806       421       4       882388897          805           420
99991      676       538       4       892685437          675           537
99992      721       262       3       877137285          720           261
99993      913       209       2       881367150          912           208
99994      378        78       3       880056976          377            77
99995      880       476       3       880175444          879           475
99996      716       204       5       879795543          715           203
99997      276      1090       1       874795795          275          1089
99998       13       225       2       882399156           12           224
99999       12       203       3       879959583           11           202

[100000 rows x 6 columns]

In [19]:
# Create training set
shuffled_ratings = ratings.sample(frac=1., random_state=42)

# Shuffling users
Users = shuffled_ratings['user_emb_id'].values
print('Users:', Users, ', shape =', Users.shape)

# Shuffling movies
Movies = shuffled_ratings['movie_emb_id'].values
print('Movies:', Movies, ', shape =', Movies.shape)

# Shuffling ratings
Ratings = shuffled_ratings['rating'].values
print('Ratings:', Ratings, ', shape =', Ratings.shape)

Users: [876 814  93 ... 436 283 221] , shape = (100000,)
Movies: [380 601 430 ... 474 321 199] , shape = (100000,)
Ratings: [4 3 4 ... 3 3 3] , shape = (100000,)

In [20]:
from keras.callbacks import Callback, EarlyStopping, ModelCheckpoint
from keras.layers import Embedding, Reshape, Concatenate
from keras.models import Sequential

In [14]:
def Model_Building(n_users, m_items, k_factors):
    P = Sequential()
    P.add(Embedding(n_users, k_factors, input_length=1))
    P.add(Reshape((k_factors,)))

    Q = Sequential()
    Q.add(Embedding(m_items, k_factors, input_length=1))
    Q.add(Reshape((k_factors,)))

    S = Sequential()
    S.add(Concatenate([P,Q]))
    return S

def rate(model, user_id, item_id):
    return model.predict([np.array([user_id]), np.array([item_id])])[0][0]

In [48]:
model = Model_Building(max_userid, max_movieid, 100)

model.compile(loss='mse', optimizer='adamax', metrics=['accuracy'])

In [49]:
callbacks = [EarlyStopping('val_loss', patience=2),
             ModelCheckpoint('weights.h5', save_best_only=True)]

In [57]:
model.summary()

ValueError: This model has not yet been built. Build the model first by calling build() or calling fit() with some data. Or specify input_shape or batch_input_shape in the first layer for automatic build.

In [58]:
history = model.fit(x=[Users, Movies], y=Ratings, epochs=30, verbose=2, callbacks=callbacks)

AssertionError: